<footer class="footer">
    <p class="footer__p">© 2024 | Josue Benjamin Lazarte, todos los derechos reservados.</p>

    <ul class="footer__socialLinks">
        <li>
            <a href="https://twitter.com/BenjaLaza1" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/BenjaCARP2/" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/benja_laza/" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
    </ul>
</footer>